body {
	font-family: 'Roboto', sans-serif;
}

.adjust{
	margin-top: 10px;
}
/*Navigation*/
#control{
	margin: 0px;
	padding: 0px;
}

#navbar{
	border-radius: 0px;

}

#logo{
	border-radius: 90%;
	border: 0.5px solid orange;
}

#nav-brand{
	color: orange;
	font-weight: bold;
	font-size: 15px;
	margin-left: 3px;
}

.nav-item{
	margin-left: 40px;
}

.nav-link{
	font-size: 10px;
	padding: 0px;
	margin: 0px;
}


/*Banner*/
#about_image {
	border-radius: 100%;
}


/*About*/
#img{
	height: 335px;
	width: 240px;
	border-left: 4px solid orange;
	border-bottom: 4px solid orange;
}

#button{
	border-radius: 20px;
	color: white;
	background-color: orange;
}


/*Skills*/
#skills{
	border: 2px solid orange;
}


/*Projects*/
#projects_body {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}


/*Contact*/
#contact{
	border: 2px solid orange;
}


/*Footer*/
#footer {
	padding: 20px;
	text-align: center;
}